# dependencies
node_modules/

# environment variables
.env
dev.env
.env.local
.env.production

# logs
logs
*.log
npm-debug.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# coverage
coverage/